.git/
.devcontainer/
.next/
.vscode/
.github/
docs/
node_modules/
public/media/
.editorconfig
.env
.justfile
.prod.justfile
Dockerfile
README.md
README.vi.md
LICENSE
data.sqlite3
data.prod.sqlite3
data.prod.sqlite3-shm
data.prod.sqlite3-wal
data.sqlite3-shm
data.sqlite3-wal
docker-compose*
.DS_Store
dist/
*.log
