# this file is for development inside devcontainer

DATABASE_URI=file:/workspaces/biolak/data/data.dev.sqlite3
MEDIA_STATIC_DIR=/workspaces/biolak/data/media

NEXT_PUBLIC_SERVER_URL=https://biolak.vn
PAYLOAD_SECRET='CHANGE_ME'
CRON_SECRET='CHANGE_ME'
PREVIEW_SECRET='CHANGE_ME'

SMTP_FROM=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

DEV_EMAIL=
DEV_PASSWORD=