build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml

docker-compose.yml
!/.devcontainer/docker-compose.yml
postgres-dev-backup/*.gz
postgres-data/
backup/
.devcontainer/postgres-dev
.devcontainer/test-build/

lazydocker